.bi {
    display: inline-block;
    width: 1rem;
    height: 1rem;
  }
  
  /*
   * Sidebar
   */
  
  @media (min-width: 768px) {
    .sidebar .offcanvas-lg {
      position: -webkit-sticky;
      position: sticky;
      top: 48px;
    }
    .navbar-search {
      display: block;
    }
  }
  
  .sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar-heading {
    font-size: .75rem;
  }
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
  }
  
  .s {
    border-radius: 1px;
    border-width: 1px;
  }
  
  .not-started {
    border-color: rgb(254, 65, 65);
    color: rgb(254, 65, 65);
  }
  
  .in-progress {
    border-color: rgb(255, 230, 0);
    color: rgb(255, 230, 0);
  }
  
  .completed {
    border-color: rgb(34, 199, 34);
    color: rgb(34, 199, 34);
  }
  
.close {
  border: none;
  border-radius: 4px;
}

.spinner-border {
  animation-duration: 1.5s;
  
}

